body {
    font-family: Montserrat, Helvetica, sans-serif;
}

/*********************************** Code for the navbar **********************************************/
.navbar {
    height: 75px;
}

.logo {
    width: 10%;
    height: 10%;
}

a {
    color: black;
}

a:link {
    color: #b7ae9a;
}

a:hover {
    color: #b7ae9a;
}

a:active {
    color: #998665;
}

.nav {
    margin-left: 500px;
}

.btn {
    background-color: #b7ae9a;
    color: white;
}

.btn:hover {
    background-color: #998665;
    color: white;
}

.form {
    width:250px;
}

/*********************************** Code for the index page **********************************************/

.parallax {
    /* The image used */
    background-image: url("https://images.pexels.com/photos/1884579/pexels-photo-1884579.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

    /* Set a specific height */
    height: 1200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.latest-trends {
    margin:20px 15px;
}

.trends{
    background-color:#f3f3f3;
    width:100%;
}

.mensTrends {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 700px;
    height:700px;
    object-fit: cover;
    border-radius: 50%;
}
.womensTrends{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 700px;
    height:700px;
    object-fit: cover;
    border-radius: 50%;
}

h1 {
    margin-top:50px;
    text-align: center;
}

.smile {
    background-color: #f3f3f3;
    height: 350px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    height: 150px;
    background-color: #998665;
    margin: auto;
    padding-top:50px;
}

.fSmile {
    width:50px;
    height:50px;
    margin-bottom:20px;
}
.user_name{
    margin-top:10px;
    margin-bottom: 0px;
}


/*********************************** Code for the footer div **********************************************/
.footer {
    height: 150px;
    background-color: #998665;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.social_list {
    list-style-type:none;
    margin: auto;
    padding: 0px;
}

.social_list li{
    display: inline-flex;
    margin: 0 3px;
    align-items: center;
}

.social{
    width:25px;
    height:25px;
}

.bottomNav{
    list-style-type:none;
}
.bottomNav li a{
    text-decoration:none;
}

.bottomNav li a:link{
    color:white;
}
.bottomNav a:visited{
    color:black;
}
.bottomNav a:hover{
    color:#b7ae9a;
}
.bottomNav a:active{
    color:#998665;
}

/*********************************** Code for the login popup **********************************************/

.form-popup {
    position: fixed;
    display: none;
    top: 75px;
    right: 1px;
    border: 3px solid #b7ae9a;
    background-color: white;
    z-index: 9;
    padding: 4px;
}

/*********************************** Code for the registration page **********************************************/
.form-group{
    color:#998665;
}

#title_login{
    color:#998665;
}

.register{
    border-top: 3px solid #b7ae9a;
}

.form-padding div{
    padding:3px;
}
/*********************************** Code for the messages **********************************************/
.alert-success {
    color: white;
    background-color: #b7ae9a;
    border-color: #998665;
    margin-top: 5px;
}


/*********************************** Code for the dashboard **********************************************/
.secondary {
    margin-top:20px;
    margin-bottom:50px;
}

.showall {
    margin-right:500px;
    position:relative;
    left:800px;
}

.btn {
    background-color: #998665;
    color: white;
    border: none;
}

.btn:link {
    background-color: #998665;
    color: white;
    border: none;
}

.btn:hover {
    background-color:#b7ae9a;
    color: white;
}

.dashboardProduct {
    margin-top: 20px;
}

/*********************************** Code for contact **********************************************/
.banner {
    height:955px;
    background-image: url("https://images.pexels.com/photos/1884583/pexels-photo-1884583.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    margin-left:1000px;
    padding: 50px;
    padding-top:100px;
    padding-left: 600px;
}

.contactUs{
    font-size: 32px;
    color: black;
    font-weight: bold;
}

.carousel-inner{
    height:1200px;
}

.dd-block{
    position: relative;
    padding-bottom:75px;
}

.carousel-item img {
}