body {
    font-family: Montserrat, Helvetica, sans-serif;
}

.navbar {
    height: 75px;
}

.logo {
    width: 10%;
    height: 10%;
}

a {
    color: black;
}

a:link {
    color: #b7ae9a;
}

a:hover {
    color: #b7ae9a;
}

a:active {
    color: #998665;
}

.nav {
    margin-left: 500px;
}

.btn {
    background-color: #b7ae9a;
    color: white;
}

.btn:hover {
    background-color: #998665;
    color: white;
}

.parallax {
    /* The image used */
    background-image: url("https://images.pexels.com/photos/2112648/pexels-photo-2112648.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

    /* Set a specific height */
    height: 800px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.d-flex {
    background-color: #f3f3f3;
    height: 100%;
}

.mission {
    margin-top: 50px;
    height: 600px;
}
.form-popup {
    position: fixed;
    display: none;
    top: 75px;
    right: 1px;
    border: 3px solid #b7ae9a;
    background-color: white;
    z-index: 9;
    padding: 4px;
}

.form-group{
    color:#998665;
}

#title_login{
    color:#998665;
}

.register{
    border: 3px solid #b7ae9a;
}

.registration-form div{
    padding:3px;
}